<!-- BEGIN: main -->
<div style='padding-left: 30px; padding-right: 30px; padding-top: 30px ; padding-bottom: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; background-color:#FFFFFF'>
<img src="{img_logo}" alt="Logo" longdesc="Logo"><br>
{solicitud_titulo}
<hr style= 'color: #999999; text-decoration: none;'>
<p>La Plata, {dt_fecha}</p>
<p>Estimado Evaluador/a {ds_tipoevaluador}: {ds_evaluador}</p>
<p>
Tenemos el agrado de dirigirnos a usted a fin de invitarlo a participar en el proceso de evaluaci&oacute;n de la convocatoria de {solicitud_descripcion}. 
Su participaci&oacute;n como evaluador es de vital importancia para el Programa de Subsidios de la Universidad.
</p>
<p><strong>EVALUACI&Oacute;N ASIGNADA</strong></p>
<p>Le hemos asignado la siguiente solicitud para su evaluaci&oacute;n:</p>
<p>Postulante: {ds_postulante}</p>
<br>
<p><strong>SOBRE LA EVALUACI&Oacute;N</strong></p>
<p>Visto que nos encontramos próximos al receso invernal y el programa de Subsidios contempla actividades a realizar a partir de septiembre del corriente año, <strong>le pedimos, en la medida de lo posible, que nos envíe las evaluaciones por sistema hasta el 4 de agosto inclusive,</strong> con el fin de realizar los procesos administrativos necesarios para otorgar los subsidios en tiempo y forma</p>
<p>
Asimismo requerimos nos comunique su aceptaci&oacute;n o rechazo dentro de las 48 hs. de recibida esta comunicaci&oacute;n. Debe hacerlo por medio del sistema, 
ingresando <a href="{urlWeb}">aqu&iacute;</a> donde deber&aacute; seleccionar la solicitud a evaluar, para luego aceptarla o rechazarla.
</p>
<p>
Le aclaramos que cada solicitud tendr&aacute; asignado un evaluador interno (el mismo deber&aacute; pertenecer a la Unidad Acad&eacute;mica del solicitante) 
y un evaluador externo (que podr&iacute;a no relacionarse estrictamente con la tem&aacute;tica del solicitante). 
</p>
<br>
<p><strong>INDICACIONES PARA ACCEDER AL SISTEMA</strong></p>
<p>
	-- Si usted se ha registrado anteriormente en el sistema <i>WEBPROYECTOS (Gesti&oacute;n de Proyectos),  WEBVIAJES (Solicitud de Subsidios Viajes y Estad&iacute;as) o 
	WEBJOVENES (Solicitud de Subsidios para J&oacute;venes Investigadores)</i> debe ingresar con su n&uacute;mero de CUIL y la contrase&ntilde;a que utiliz&oacute; anteriormente.<br><br> 
	-- Si usted no se ha registrado anteriormente  en el sistema <i>WEBPROYECTOS (Gesti&oacute;n de Proyectos),  WEBVIAJES (Solicitud de Subsidios Viajes y Estad&iacute;as) o 
	WEBJOVENES (Solicitud de Subsidios para J&oacute;venes Investigadores)</i> debe ingresar utilizando su CUIL y contrase&ntilde;a 123 (dicha clave se podr&aacute; cambiar 
	desde el sistema).

</p>
<p>
Para m&aacute;s informaci&oacute;n puede acceder al instructivo del evaluador que se encuentra disponible <a href="{urlInstructivo}">aqu&iacute;</a>.
</p>
<br>
<p><strong>CONSULTAS</strong></p>
<p>Para cualquier consulta puede comunicarse con los coordinadores de Subsidios para Viajes: <br><br>
{ds_coordinadores}<br>
O con esta Secretar&iacute;a por correo electr&oacute;nico a viajes.secyt@presi.unlp.edu.ar<br>
</p>
<p>
Agradeciendo su valiosa colaboraci&oacute;n, saludan a usted muy atentamente.<br><br>
Secretar&iacute;a de Ciencia y T&eacute;cnica <br>
Universidad Nacional de La Plata<br><br>
</p>
<hr style= 'color: #999999; text-decoration: none;'></body></html>

<!-- END: main -->