<!-- BEGIN: main -->

<script type="text/javascript">

function  seleccionarConcepto(concepto_oid){
	
	
	 $("#item-td-ds_presupuesto").append("<span id='iconoLoading' style='position:absolute;'><img src='css/grid/loading.gif' /></span>")
	 
	jQuery.ajax({
	      url:"doAction?action=add_solicitud_presupuesto_chequear_concepto&concepto_oid=" + concepto_oid.value,
	      dataType:"json",
	      success: function(data){
	      	
	      	if( data != null && data["error"]!=null){
	      		showMessageError( data["error"], true );
	      		//inhabilitar el submit.
	      		$("#edit_solicitud_input_submit_ajax").hide();
	      	}
	      	
	      	else{
	      		
	      		//ocultamos los td.
	      		for ( var indice = 0; indice < data["hide"].length; indice++) {
	      			//mensajes = mensajes+data["mensajes"][indice] + " <br />";
	      			$("#item-td-"+data["hide"][indice]).hide();
				}
	      		for ( var indice = 0; indice < data["show"].length; indice++) {
	      			//mensajes = mensajes+data["mensajes"][indice] + " <br />";
	      			$("#item-td-"+data["show"][indice]).show();
				}
	      		
	      	} 	
	      	 $("#iconoLoading").remove();
	      	
	      }
	});
	
	
	
}


$(function() {

    $("#{form_id}").submit(function(e) {
		
        if( {useAjaxSubmit} ) {

        	submitAjaxForm('{form_id}', '{action}', {onSuccessCallback},{beforeSubmit});
        	return false;
        }
});	
    
});
function successDefaultInline(data ){
	
	try {
		 data = $.parseJSON(data);
		 
	} catch (e) {
	   return;
	}
	
	if( data != null && data["error"]!=null){
		showMessageError( data["error"], false );
	}
	
	if( data != null && data["info"]!=null){

		showMessageError( data["info"], false );
		
	}
}
</script>

<style>
.item{
vertical-align:bottom;
}
#{form_id} .jfVal .messagepod, .jfVal .jfValpod{
  display: none;
}


</style>

<form <!-- BEGIN: property --> {name}="{value}" <!-- END: property --> >

	<!-- BEGIN: fieldset -->
	 	<!-- BEGIN: legend -->
	    <th class="legend">{value}</th>
		<!-- END: legend -->
		<table>
	   
		<tr>
		<!-- BEGIN:column -->
		<!-- BEGIN: field -->
		<td class="item" style="display:{display}" id="item-td-{input_name}">
		    
		    <!-- BEGIN: label -->
		    <label for="{input_name}">{value} {required}:</label><br />
		    <!-- END: label -->
		    <!-- BEGIN: input -->
		    {input}
		    <!-- END: input -->
		</td>
		<!-- END: field -->
		<!-- END:column -->
		</tr>
	</table>
	<!-- END: fieldset -->
	<!-- BEGIN: field_hidden -->
	{input_hidden}
	<!-- END: field_hidden -->
</form>

{customHTML}

<!-- BEGIN: buttons -->
<form id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<!-- BEGIN: cancel -->
		<input type="button" value="{lbl_cancel}" id="{form_id}_input_cancel" onclick="javascript: {function};">
		<!-- END: cancel -->
		
		<!-- BEGIN: submit -->
		<input type="button" value="{lbl_submit}" id="{form_id}_input_submit" onclick="javascript:submitForm('{form_id}');">
		<!-- END: submit -->
		
		<!-- BEGIN: submit_ajax -->
		<input type="button" value="{lbl_button}" id="{form_id}_input_submit_ajax" onclick="javascript:submitAjaxForm('{form_id}', '{action}', {onSuccessCallback},{beforeSubmit});">
		<!-- END: submit_ajax -->
		
		<!-- BEGIN: button -->
		<input type="button" value="{lbl_button}" id="{form_id}_input_button_{i}" onclick="javascript: {function}; ">
		<!-- END: button -->
	
		<div class="camposRequeridos">(*) {msg_required_fields}</div>	
	</fieldset>
</form>	
<!-- END: buttons -->
<!-- END: main -->